.container.about { 
    color: black;
    
}
.aboutText { 
    max-width: 50%;
    color: white;
    background-color: rgb(31, 30, 30);
    padding: 20px;
    border-radius: 7px;
}

.aboutHeading { 
    font-size: 25px;
}