
.navbar-brand { 
  color: rgba(255, 255, 255, .8);
}
.nav-item { 
    text-align: right;
    background-color: #000000;
    margin-right: auto;
    color: rgba(255, 255, 255, .8);
  }
  .nav-link { 
    color: rgba(255, 255, 255, .8);
    margin-right: 10px;
  }
  .nav-item :hover { 
    color: white;
  }
    
  @media only screen and (max-width: 600px) {
    .container { 
      justify-content: center;
    }
    .navbar-brand { 
      margin: auto;
    }
    .nav-item { 
      display: none;
    }
  }
  @media (min-width: 760px) {
  }