#projects { 
    padding: -100px;
}
.heady {
    padding-top: 100px;
}
.work { 
    background-color: pink;
    height: 100vh;
    margin-top: -100px;
}
.button { 
    padding-top: 120px;
}

.infoblock {
    margin-top: 100px;
    color: black;
}
.jobtext {
    max-width: 70%;
}